<% layout('layouts/boilerplate') %>

<div class="home-hero px-4 py-5 px-md-5 py-md-6 mb-5 text-center text-md-start">
    <h1 class="display-5 fw-bold mb-3">YelpCamp</h1>
    <p class="lead mb-2">Welcome to YelpCamp!</p>
    <p class="lead mb-4">Jump right in and explore our many campgrounds.<br class="d-none d-md-inline"> Feel free to share some of your own and comment on others!</p>
    <a href="/campgrounds" class="btn btn-primary btn-lg px-4 rounded-pill">View Campgrounds</a>
</div>
